In [24]:
## Import Package

In [25]:
import pandas as pd

In [26]:
## Import CSV

In [27]:
pd.read_csv('budget_data.csv')

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [28]:
## Define CSV as data

In [29]:
data = pd.read_csv('budget_data.csv')

In [30]:
## Create lists for variables

In [31]:
print(data)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [32]:
len(data)

86

In [33]:
## Total Number of Months included in Dataset

In [34]:
Date_count = len(data)
Date_count

86

In [35]:
## The net total amount of Profit/Losses over the entire period.

In [36]:
Total = data["Profit/Losses"].sum()
print ("$", Total)

$ 38382578

In [37]:
## The average of the changes in Profit/Losses over the entire period

In [38]:
Difference = data ["Profit/Losses"].diff(+1)
#Add Column "Difference" to dataframe
data["Difference"] = Difference

data.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [39]:
Average_Change = data["Difference"].mean()
Average_Change = round(int(Average_Change))
print ("$", Average_Change)

$ -2315

In [40]:
## The greatest increase in profits(data and amount) over the entire period

In [41]:
Greatest_Increase = data["Difference"].max()
Greatest_Increase = round(int(Greatest_Increase))
print("$", Greatest_Increase, data.loc[data["Difference"]== 1926159, "Date"].values[0])

$ 1926159 Feb-2012

In [42]:
## The greatest decrease in losses (data and amount) over the entire period

In [43]:
Greatest_Decrease = data["Difference"].min()
Greatest_Decrease = round(int(Greatest_Decrease))
print("$", Greatest_Decrease, data.loc[data["Difference"]== -2196167, "Date"].values[0])

$ -2196167 Sep-2013

In [44]:
## Results

In [45]:
print("Financial Analysis")
print("________________________________________________")
print("")
print(f"Total Months: {(Date_count)}")
print(f"Total: ${(Total)}")
print(f"Average Change: ${(Average_Change)}")
print("Greatest Increase: $", Greatest_Increase, "Month: ",data.loc[data["Difference"]== 1926159, "Date"].values[0])
print("Greatest Decrease: $", Greatest_Decrease, "Month : ",data.loc[data["Difference"]== -2196167, "Date"].values[0])

Financial Analysis
________________________________________________

Total Months: 86
Total: $38382578
Average Change: $-2315
Greatest Increase: $ 1926159 Month:  Feb-2012
Greatest Decrease: $ -2196167 Month :  Sep-2013

In [46]:
## End